services:
  app:
    build: 
      context: .    
      dockerfile: Dockerfile
    container_name: second-project-devops
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start